[Unit]
Description=Politraf Connections stat to clickhouse
After=network.target

[Service]
GuessMainPID=yes
WorkingDirectory=/opt/politraf
Type=simple
ExecStart=/opt/politraf/constat.py

[Install]
WantedBy=multi-user.target
