[Unit]
Description=System stat to clickhouse
After=network.target

[Service]
Type=simple
User=root
ExecStart=/opt/politraf/systat.py

[Install]
WantedBy=multi-user.target
